.contact-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  max-width: 800px;
  margin: 0 auto;
}

.contact-info {
  flex: 1;
}

.contact-info {
  background-color: #caf0f8;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #333;
}

.contact-info p {
  color: #666;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.icon {
  margin-right: 1rem;
  color: #415a77;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.info-content h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #333;
}

.info-content p {
  margin-bottom: 0;
  color: #666;
}

.socials-heading h3{
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-top: 3.5rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #415a77;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #415a77;
  color: #e0e1dd;
}
